pre {
  background-color: #f5f5f5;
  border-radius: 8px;
  padding: 1.5rem;
  overflow-x: auto;

  margin: 1rem 0;
}

pre[data-line] {
  padding: 0 1rem;
}

code[data-line-numbers] {
  counter-reset: line;
}

code[data-line-numbers] > [data-line]::before {
  counter-increment: line;
  content: counter(line);

  /* Other styling */
  display: inline-block;
  width: 0.75rem;
  margin-right: 2rem;
  text-align: right;
  color: gray;
}
